@font-face {
    font-family: Montserrat;
    src: url('../fonts/Montserrat.ttf') format('truetype');
}

@font-face {
    font-family: Montserrat-Bold;
    src: url("../fonts/static/Montserrat-Bold.ttf") format("truetype");
}

#page {
    margin: 0;
    padding: auto;
    font-family: Montserrat-Bold;
    /*
    background-color: #555557;
    color: white;
    */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}