.td-1 {
    width: 40%;
    max-width: 700px;
    background-color: rgba(85, 85, 85, 0.95);
    z-index: 2;
    overflow-y: auto;
}

#page {
    background-color: #555555;
}

@keyframes opac {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.logo-waiter {
    width: 20%;
}

.main {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    animation: opac 3s infinite;
    font-size: 2vw;
}

.div-connexion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

input,
textarea {
    border: solid;
    border-width: 2px;
    border-radius: 5px;
    height: 25px;
    font-size: 20px;
}

input[type="file"] {
    border: none;
    margin-bottom: 5px;
}

input[type="file"] input[name="file-upload-button"] {
    background-color: transparent;
    margin-bottom: 5px;
}

#msg {
    height: 100px;
    resize: none;
    width: 100%;
}

.td-2 {
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url("../img/larochelle.jpg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
    height: 100%;
    width: 100%;
    z-index: 1;
}

html {
    height: 100%;
}

.sign-page {
    display: flex;
    height: 100%;
    width: 100%;
}

.logo-sign {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    border: black;
}

.logo-sign img {
    max-width: 40%;
}

.lotixam {
    position: absolute;
    bottom: 15px;
    right: 15px;
    z-index: 99;
}

.lotixam img {
    width: 300px;
}

body {
    display: flex;
    overflow: hidden;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    font-family: Montserrat;
    height: 100%;
    color: white;
    background-color: black;
}

.back {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 20px;
}

form {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.submit-button {
    background-color: transparent;
    color: white;
    border: solid;
    border-radius: 5px;
    transition: color 250ms ease-out;
    font-size: 20px;
    font-family: Montserrat-Bold;
}

.submit-button:hover {
    color: #b1ea0c;
    cursor: pointer;
}

@media screen and (min-width: 1200px) and (orientation: landscape) {
    .submit-zone {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo-sign {
        height: fit-content;
    }

    .response {
        color: #b1ea0c;
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 999;
    }
}

@media screen and (max-width: 1200px) {

    .div-connexion {
        scale: 0.65;
        margin-top: 50px;
    }

    .logo-waiter {
        width: 50%;
    }

    .main {
        font-size: 5vw;
    }

    .back {
        font-size: larger;
        margin-bottom: 50px;
    }

    .td-2 {
        position: absolute;
        top: 0px;
        left: 0px;
        background-image: url("../img/larochelle.jpg");
        background-size: cover;
        background-position: center right;
        overflow: hidden;
        height: 100%;
        width: 100%;
        z-index: 1;
    }

    .td-1 {
        background-color: rgba(85, 85, 85, 0.8);
        width: 80%;
        height: 90%;
        z-index: 2;
        border-radius: 25px;
    }

    .remember {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .sign-page {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        z-index: 0;
    }

    .sign-page form {
        text-align: center;
    }

    .sign-page h1,
    .sign-page form {
        text-align: center;
        width: 100%;
        /* Utilise toute la largeur disponible */
        font-size: calc(2rem + 3vw);
        /* Taille de police dynamique basée sur la largeur de la vue */
    }

    .sign-page input {
        font-size: calc(4vw);
        height: calc(2rem + 3vw);
        max-height: 3rem;
        width: 60%;
        scale: 1.5;
    }

    .sign-page input {
        font-size: calc(4vw);
        height: calc(2rem + 3vw);
        max-height: 3rem;
        width: 60%;
        scale: 1.5;
    }

    form input[type="file"] {
        text-align: center;
        width: 100%;
        height: 100px;
        font-size: 40px;
        font-family: Montserrat;
        margin-bottom: 30px;
    }

    /* .submit-button {
        border-width: 5px;
        padding: 5px;
    } */

    .td-1 br {
        margin-top: 0.1em;
    }

    .lotixam {
        opacity: 0.9;
    }
}

/* Réduire la taille du texte pour les appareils mobiles */
@media screen and (max-width: 768px) {

    input[type="text"],
    input[type="email"],
    input[type="tel"] {
        font-size: 25px;
        width: 100%;
    }

    #msg {
        font-size: 50px;
        /* Augmenter la taille de la police */
        width: 150%;
        /* Définir la largeur à 100% */
        height: 150px;
        /* Augmenter la hauteur du textarea */
        margin: auto;
        left: 50%;
        transform: translateX(-15%);
    }
    input[type="file"] {
        font-size: 20px;
        /* Réduire la taille de la police pour les boutons de téléchargement de fichiers */
    }

    .logo-img {
        max-width: 80%;
        /* Ajuster la taille du logo */
    }

    .td-1 .div-connexion {
        transform: scale(0.6);
        /* Ajustez la valeur de l'échelle selon vos préférences */
    }

    .div-connexion {
        width: 100%;
    }

    .lotixam {
        display: none;
    }

    .submit-button {
        font-size: 30px !important;
        /* Augmenter la taille de la police */
        padding: 15px 30px !important;
        /* Augmenter la taille des marges intérieures */
    }

}