#foot {
    display: flex;
    justify-content: center;
    background-color: gray;
    color: white;
    padding: 2em;
    width: auto;
}
.separator {
    padding-left: 1em;
    padding-right: 1em;
}