footer {
    margin-top: 5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: gray;
    color: white;
    padding: 2em;
    width: auto;
}

.separator {
    padding-left: 1em;
    padding-right: 1em;
}

@media screen and (max-width: 1200) {
    footer {
        display: flex;
        flex-direction: column;
        justify-content: start;
        background-color: aliceblue;
    }

    .separator {
        padding-top: 1em;
        padding-bottom: 1em;
    }
}