@import url("common.css"); /* Import pour les keyframes */

#maintenance {
    display: flex;
    position: relative;
    width: 100%;
    height: 50em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#first-plan {
    opacity: 0;
    display: flex;
    position: relative;
    width: 100%;
    height: 50em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
    animation: fadeIn 2s ease-out forwards 1s;
}
.arriere-plan-maintenance {
    overflow: hidden;
    position: relative;
}

#bg {
    opacity: 0.6;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 1;
}

@keyframes deform-fancy {
    0% {
        border-radius: 50% 50% 50% 50%;
    }

    25% {
        border-radius: 60% 40% 70% 30%;
    }

    50% {
        border-radius: 70% 30% 40% 60%;
    }

    75% {
        border-radius: 40% 60% 30% 70%;
    }

    100% {
        border-radius: 50% 50% 50% 50%;
    }
}

#fancy {
    position: absolute;
    top: auto;
    right: auto;
    border-radius: 30% 70% 70% 30% / 30% 43% 57% 70%;
    background: linear-gradient(#3ae010, #0ee2d1);
    width: 300px;
    height: 300px;
    opacity: 0.5;
    z-index: 2;
    animation: deform-fancy 50s infinite alternate ease-in-out;
}

@media screen and (max-width: 1200) {
    #bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
    }
}