.content {
    text-align: justify;
    padding-top: 3%;
    padding-bottom: 1%;
    padding-left: 10%;
    padding-right: 10%;
}

.third-row {
    padding: 15px;
    margin-top: 25px;
    line-height: 1.5;
    font-size: 18px;
}

.longueur {
    width: 100%;
    height: 12em;
    background-color: #b1e810;
    color: black;
    overflow: hidden;
}

.encadre {
    border-radius: 5px;
    border: double;
    border-width: 10px;
    padding: 10px;
}

.entete {
    padding: 20px;
    padding-left: 10%;
}

.logo-investor {
    width: 50px;
}

.h1-up {
    font-size: 50px;
}

#investor-table {
    margin-top: 5%;
}

.p-up {
    font-size: 18px;
}

.photo-investor {
    display: flex;
    justify-content: right;
    align-items: center;
}

a {
    font-family: Montserrat-Bold;
    text-decoration: none;
    color: white;
    transition: color 250ms ease-out 100ms;
}

a:hover {
    color: #b1e810;
}


#contact-welcome {
    padding-top: 1em;
}

#contact-button-index-1 {
    font-size: large;
    margin-top: 40px;
    margin-bottom: 40px;
}

h2 {
    font-family: Montserrat-Bold;
    
    text-align: center;
}

.result-line {
    text-align: center;
}

.h2-icons-zone {
    display: flex;
    justify-content: center;
    padding-top: 3em;
    padding-bottom: 30px ;
}

.h2-icons {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 12px;
    padding-left: 12px;
    background-color: greenyellow;
    border-radius: 50%;
    border: solid;
}

.img-1 {
    height: 800px;
    width: auto
}

.mounth {
    color: #8db80c;
    font-family: Montserrat-Bold;
}


.stonks {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
}
.result {
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 4px;
    text-decoration-color: currentColor;
    /* color: #09bb94; */
    color: black;
    font-family: Montserrat-Bold;
    font-size: 22px;

}

.liste-conditons li {
    padding-bottom: 20px;
}

.liste-conditons li:last-child {
    padding-bottom: 0px;
}

@media screen and (min-width: 1200px) {

    .version-pc {
        display: block;
        font-size: 18px;
    }

    .version-mobile {
        display: none;
        font-size: 18px;
    }

    .third-row {
        padding-left: 10%;
        padding-right: 10%;
    }

    .p-up .introduction {
        line-height: 150%;
    }

    .body-main {
        padding-left: 90px;
        padding-right: 90px;
    }

    .img-1 {
        padding-right: 25%;
    }

    #p-up-1 {
        margin-right: 70px;
        margin-left: 10px;
    }

    #exemple {
        padding-left: 10%;
        padding-right: 10%;
        margin-top: 50px;
    }

    .youtube {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #paragraphe1 {
        font-size: 20px;
        padding-left: 240px;
        padding-right: 240px;
        text-align: center;
    }

    .image_text {
        width: 40%;
        padding-top: 0px;
        padding-bottom: 0px;
        font-size: 18px;
        height: 20%;
    }

    #paragraphe6 {
        padding-left: 240px;
        padding-right: 240px;
        text-align: center;
    }

    .conditions {
        padding-top: 40px;
    }

}

table {
    width: 100%;
    /* Pour que la table occupe toute la largeur disponible */
}

td {
    /* Assurez-vous que toutes les cellules ont une largeur équitable */
    width: 50%;
    /* Divise la largeur de la table en deux */
    padding-left: 30px;
    padding-right: 30px;
}

.loading {
    font-size: 40px;
}

.special-td {
     width: 30%;
         /*Divise la largeur de la table en deux*/
    padding-left: 30px;
    padding-right: 30px;
}

@media screen and (min-width: 900px) {
    .version-pc {
        display: block;
        font-size: 18px;
    }

    .version-mobile {
        display: none;
        font-size: 18px;
    }
}

@media screen and (max-width: 900px) {

    .version-pc {
        display: none;
        font-size: 18px;
    }

    .version-mobile {
        display: block;
        font-size: 18px;
    }

    .logo-investor {
            width: 50px;
        }

    .special-td {
        display: block;
        width: 84%;
    }

    .p-up h1 {
        text-align: center;
        line-height: 40px;
    }

    .photo-investor {
        display: block;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .h1-up {
        font-size: 200%;

    }

    .p-up {
        font-size: 17px;
        padding-left: 10px;
        padding-right: 10px;
        text-align: justify;
        line-height: 150%;
    }

    .img-1 {
        width: 100%;
        height: auto;
    }
    
    #image {
        height: 20em;
    }

    .content {
        text-align: justify;
        padding-top: 5%;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    table {
        /* Annulez la disposition en tableau et restaurez la disposition normale */
        display: block;
        width: 100%;
    }

    td {
        /* Annulez les styles de cellule de tableau */
        display: block;
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }

    .second-row {
        display: flex;
        flex-direction: column-reverse;
    }

    .belle-espacement {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .conditions {
        padding-right: 20px;
    }
}