.td-1 {
    width: 40%;
    max-width: 700px;
    background-color: rgba(85, 85, 85, 0.95);
    z-index: 2;
}

.div-connexion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

input {
    border: solid;
    border-width: 2px;
    border-radius: 5px;
    height: 25px;
    font-size: 20px;
}

.error {
    color: #ff995e;
}

.td-2 {
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url("../img/Nebot\ Cannelle\ -\ Perpignan-1.jpg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
    height: 100%;
    width: 100%;
    z-index: 1;
}

html {
    height: 100%;
}

.sign-page {
    display: flex;
    height: 100%;
    width: 100%;
}

.logo-sign {
    display: flex;
        justify-content: center;
        align-items: center;
}

.logo-sign img {
    width: 50%;
}

.lotixam {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.lotixam img {
    width: 300px;
}

body {
    display: flex;
    overflow: hidden;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    font-family: Montserrat;
    height: 100%;
    color: white;
    background-color: black;
    /* Couleur du texte */
}

.back {
    display: flex;
    position: absolute;
    top: 100px;
    justify-content: center;
    width: 100%;
    font-size: 20px;
}

.submit-button {
    background-color: transparent;
    color: white;
    border: none;
    transition: color 250ms ease-out;
    font-size: 20px;
    font-family: Montserrat-Bold;
}

.submit-button:hover {
    color: #b1ea0c;
    cursor: pointer;
}

@media screen and (min-width: 1500px) and (orientation: landscape) {
    .submit-zone {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 1500px) {

    .submit-button {
        font-size: larger;
    }

    .back {
        display: none;
    }

    .td-2 {
        position: absolute;
        top: 0px;
        left: 0px;
        background-image: url("../img/Nebot\ Cannelle\ -\ Perpignan-1.jpg");
        background-size: cover;
        background-position: center;
        overflow: hidden;
        height: 100%;
        width: 100%;
        z-index: 1;
    }

    .td-1 {
        background-color: rgba(85, 85, 85, 0.8);
        width: 80%;
        height: 80%;
        z-index: 2;
        border-radius: 25px;
    }

    .remember {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .sign-page {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        z-index: 0;
    }

    .sign-page form {
        text-align: center;
    }

    .sign-page h1,
    .sign-page form {
        text-align: center;
        width: 100%;
        /* Utilise toute la largeur disponible */
        font-size: calc(2rem + 3vw);
        /* Taille de police dynamique basée sur la largeur de la vue */
    }

    .sign-page input {
        font-size: calc(2rem + 3vw);
        height: calc(2rem + 3vw);
        max-height: 3rem;
        width: 50%;
    }
}